@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  body {
    min-height: 100vh;
    @apply bg-premium-cream text-premium-charcoal dark:bg-zinc-950 dark:text-zinc-100;
  }
}
